body {
    background-color: lightblue;
}

a {
    color: darkslategrey;
}
/* This is for a background to have contrasting colors with other elements */


@media screen and (min-width: 426px) {
    body {
        font-size: 125%
    }

    input[type="text"] {
        font-size: 125%;
    }

    input[type="url"] {
        font-size: 125%;
    }

    textarea {
        font-size: 125%;
    }

    input[type=radio] {
        border: 0px;
        height: 1.25em;
    }
}

/* this is to make everything a little bigger on larger screens */